<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
   <div class="user-name">
   </div>
      <div class="jumbotron">
        <h1>Medical Solutions</h1>
        <p>W" come Doctor</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
            <a class="btn btn-lg btn-second" href="/home/xray" role="button">See today's x-ray scans</a>
        </p>
      </div>
    <%- include footer %>