<html lang="en">

<%- include header %>

<div class="user-name">
</div>
<div class="jumbotron">
    <h1>Medical Solutions</h1>
    <p>Welcome Doctor <%= data[0].last_name %>!</p>
    <p>
        <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        <a class="btn btn-lg btn-primary" href="/home/xray" role="button">See today's x-ray scans</a>
    </p>
</div>
<%- include footer %>